{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Détails d'un match{% endblock %}

{% block activeCompetitions %}
    class="active"
{% endblock %}

{% block content %}
    {{ match }}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}
        <button type="button" class="btn btn-success" id="addModal-addGame"><span class="glyphicon glyphicon-plus"></span> {{ 'lcs.competition.game.addGame'|trans }}</button>
    {% endif %}
    {% for manche in manches %}
        <p>Manche n°{{ loop.index }} : <button type="button" class="btn btn-success addModal-addStatJoueur" data-id="{{ manche.id }}"><span class="glyphicon glyphicon-plus"></span> {{ 'lcs.competition.game.addStatPlayer'|trans }}</button></p>
    {% endfor %}
    
    {{ render(controller('LCSBundle:Game:addGame', {'id' : match.id})) }}
    {{ render(controller('LCSBundle:Game:addStatJoueur', {'id' : 0})) }}
{% endblock %}
    
{% block pageScript %}
    <script type="text/javascript">
        var match_id = '{{ match.id }}';
    </script>
    {% javascripts 'js/detailsGame.js' output='js/compiled/detailsGame.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}