<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            {% stylesheets 
                'bootstrap/css/bootstrap.min.css'
                'bootstrap/css/bootstrap-theme.min.css'
                'css/material.icons.css'
                'datatables/datatables.min.css'
                'css/jquery.datetimepicker.css'
                'jqueryui/jquery-ui.css'
                'css/toastr.min.css'
                'flag-icon-css/css/flag-icon.css'
                'css/main.css' 
                filter='cssrewrite' output='css/compiled/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}?v=0.0.2"></script>
            {% endstylesheets %}
        {% endblock %} 
        <title>E-sport IUT</title>
    </head>
    <body>
        <div class="container">
            <div id="locale" data-locale="{{ app.request.locale }}"></div>
            <a href="{{ path('setlocale', {'language': 'fr'}) }}"><span class="flag-icon flag-icon-fr"></span> FR</a>
            <a href="{{ path('setlocale', {'language': 'en'}) }}"><span class="flag-icon flag-icon-gb"></span> EN</a>
            <!--<a href="{#{ path('setlocale', {'language': 'us'}) }#}"><span class="flag-icon flag-icon-us"></span> US</a>-->
            <h1>{% block title %}E-Sport IUT{% endblock %}</h1>
            
            {% block menu %}         
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">Menu</span>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li {% block activeAccueil %}{% endblock %}><a href="{{ path("lcs_homepage") }}"><span class="glyphicon glyphicon-home"></span> {{ 'lcs.menu.home'|trans }}</a></li>
                            <li {% block activeCompetitions %}{% endblock %}><a href="{{ path("lcs_competitions_index") }}">{{ 'lcs.menu.competitions'|trans }}</a></li>
                            <li {% block activeEquipes %}{% endblock %}><a href="{{ path("lcs_equipes_index") }}">{{ 'lcs.menu.teams'|trans }}</a></li>
                            <li {% block activeJoueurs %}{% endblock %}><a href="{{ path("lcs_joueurs_index") }}">{{ 'lcs.menu.players'|trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li {% block activeUsers %}{% endblock %}><a href="{{ path("lcs_users_index") }}">{{ 'lcs.menu.users'|trans }}</a></li>
                            {% endif %}
                        </ul>
                        {% if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            <li {% block activeProfil %}{% endblock %}><a href="{{ path("lcs_user_details", {username: app.user.username}) }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                            <li><a href="{{ path("fos_user_security_logout") }}"><span class="glyphicon glyphicon-log-out"></span> {{ 'lcs.menu.disconnect'|trans }}</a></li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li {#% block activeInscription %}{% endblock %}><a href="{{ path("fos_register") }}"><span class="glyphicon glyphicon-edit"></span> {{ 'lcs.menu.register'|trans }#}</a></li>-->
                            <li {% block activeConnexion %}{% endblock %} id="loginButton"><a href="#"><span class="glyphicon glyphicon-log-in"></span> {{ 'lcs.menu.connection'|trans }}</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
            {% endblock %}
            {% block breadcrumb %}{% endblock %}
           
            {% block flashMessages %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert {{ 'alert-' ~ type }}">
                            {{ message|trans() }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            
            {% block content %}{% endblock %}  

            {{ render(controller('UserBundle:Security:login')) }}
    
        </div>
        
        {% block javascripts %}
            {% javascripts 
                'js/lib/jquery-3.2.1.min.js'
                'jqueryui/jquery-ui.js'
                'datatables/datatables.min.js'
                'js/lib/jquery.datetimepicker.full.js'
                'bootstrap/js/bootstrap.min.js'
                'js/lib/bootstrap-validator.js'
                'js/lib/toastr.min.js'
                'bundles/fosjsrouting/js/router.js'
                'js/main.js' output='js/compiled/main.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}       
        <script>
            $(document).ready(function(){
                $('#loginButton').click(function() {
                    $('#loginFormModal').modal('show');
                })
                $('#_submit').click(function(e){
                    e.preventDefault();
                    $.ajax({
                        type        : $('form').attr( 'method' ),
                        url         : '{{ path("fos_user_security_check") }}',
                        data        : $('form').serialize(),
                        dataType    : "json",
                        success     : function(data, status, object) {
                            if(data.error) $('.error').html(data.message);
                            else {
                                $('#loginFormModal').modal('hide');
                                location.reload();
                            }
                        },
                        error: function(data, status, object){
                            console.log(data.message);
                        }
                    });
                });
            });
        </script>
        {% block pageScript %}{% endblock %}
    </body>
</html>
