{% trans_default_domain 'FOSUserBundle' %}

<div class="well fullscreenForm">

	{% form_theme form with ['bootstrap_3_layout.html.twig', 'Form/bootstrap-validator.html.twig'] %}
	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
    {{ form_widget(form) }}

    {{ form_row(form.current_password) }}
    {{ form_row(form.plainPassword) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" tabindex="4">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
{{ form_end(form) }}

</div>