<div class="modal fade" id="edit-modal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% include 'modalHeader.html.twig' %}

            <div class="modal-body" id="edit_form_container2">
                 <h4 class="modal-title">
                    {% if app.request.get('id') is not null and app.request.get('id')>0 %}
                        Modifier une poule
                    {% else %}
                        Ajouter une poule
                    {% endif %}
                </h4>
                <div class="well">
                    {% form_theme form with ['bootstrap_3_layout.html.twig', 'Form/bootstrap-validator.html.twig'] %}
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
                    <h3>Informations sur la poule</h3>
                        
                    {{ form_row(form.nom) }}
                    {{ form_row(form.equipes) }}
                    <div style="display: none;">
                        {{ form_row(form.type) }}
                        {{ form_row(form.competition) }}
                    </div>

                    {{ form_rest(form) }}
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-action="submit">Enregistrer</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                    </div>
                    {{ form_end(form) }}
                    
                </div>
            </div>
            <div id="modal-validation-message-creation" style="display: none;">
                <p>La poule a été créée avec succès</p>
            </div>
            <div id="modal-validation-message-modification" style="display: none;">
                <p>La poule a été modifiée avec succès</p>
            </div>
        </div>
    </div>
</div>
