{% trans_default_domain 'FOSUserBundle' %}


<div class="well fullscreenForm">
{% form_theme form with ['bootstrap_3_layout.html.twig', 'Form/bootstrap-validator.html.twig'] %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
	<h3>Informations</h3>
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <h3>Détails du joueur</h3>
    {{ form_row(form.joueur.prenom) }}
    {{ form_row(form.joueur.nom) }}
    {{ form_row(form.joueur.pseudo) }}
    {{ form_row(form.joueur.poste) }}
    {{ form_row(form.joueur.rang) }}
    {{ form_row(form.joueur.description) }}
    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
