{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Détails d'une compétition{% endblock %}

{% block activeCompetitions %}
    class="active"
{% endblock %}

{% block content %}
    {% if competition is not empty %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#tab_details" data-toggle="tab">{{ 'lcs.competition.details.tabLibelle'|trans }}</a></li>
        <li role="presentation"><a href="#tab_poules" data-toggle="tab">{{ 'lcs.competition.group.tabLibelle'|trans }}</a></li>
        <li role="presentation"><a href="#tab_matchs" data-toggle="tab">Matchs</a></li>
        <li role="presentation"><a href="#tab_stats" data-toggle="tab">Stats</a></li>
    </ul>
    <div class="tab-content">
        <div class="detailsEntity tab-pane active" id="tab_details">
    		<div>
    			<h3>{{ 'lcs.competition.details.name'|trans }} :</h3>
    			<p>{{ competition.nom }}</p>
    		</div>
            <div>
                <h3>{{ 'lcs.competition.details.date'|trans }} : </h3>
                <p> {% if competition.dateFin is not null %}
                    Du {{ competition.dateDebut|date('d/m/Y') }} au {{ competition.dateFin|date('d/m/Y') }}
                    {% else %}
                    {{ 'lcs.global.date.since'|trans }} 
                    {% if app.request.locale == 'us' %}
                    {{ competition.dateDebut|date('m/d/Y') }}
                    {% else %}
                    {{ competition.dateDebut|date('d/m/Y') }}
                    {% endif %}
                    {% endif %}
                </p>
            </div>
            <div>
                <h3>{{ 'lcs.competition.details.numberTeams'|trans }} : </h3>
                <p>{{ equipesInscrites }} (min. {{ competition.nbEquipeMin }})</p>
            </div>
            <div>
                <h3>{{ 'lcs.competition.details.description'|trans }} : </h3>
                <p>
                    {% if competition.description is not empty %}
                    {{ competition.description }}
                    {% else %}
                    <i>{{ 'lcs.competition.details.nodescription'|trans }}</i>
                    {% endif %}
                </p>
            </div>
            <div>
                <p>
                    {% if competition.allowCaptainRegister %}
                    <i>Les capitaines sont autorisés à inscrire leur équipe.</i>
                    {% else %}
                    <i>Seuls les organisateurs et administrateurs peuvent inscrire des équies.</i>
                    {% endif %}
                </p>
            </div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}
            <button type="button" class="btn btn-warning" id="addModal-competition"><span class="glyphicon glyphicon-edit"></span> {{ 'control.button.edit'|trans }}</button>
        {% endif %}
        </div>

        <div class="tab-pane" id="tab_poules">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}
                <div>&nbsp;</div>
                <button type="button" class="btn btn-success" id="addModal-group"><span class="glyphicon glyphicon-plus"></span> {{ 'lcs.competition.group.add'|trans }}</button>
            {% endif %}
            {% for key, poule in poules %}
                <h3>{{ poule.nom }} {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}<button type="button" data-id="{{ poule.id }}" class="btn btn-warning editModal-group"><span class="glyphicon glyphicon-edit"></span> {{ 'lcs.competition.group.edit'|trans }}</button>{% endif %}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Classement</th>
                            <th>Equipe</th>
                            <th>Pts</th>
                            <th>Victoires</th>
                            <th>Défaites</th>
                            <th>Différence</th>
                        </tr>
                    </thead>
                    <tbody>
                {% if equipes[key]|length > 0 %}
                    {% for equipe in equipes[key] %}
                        <tr><!-- class="bg-success">-->
                            <td>{% if loop.index == 1 %}1{% else %}-{% endif %}</td>
                            <td>{{ equipe.nom }}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    {% endfor %}                
                {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center;"><i>Aucune équipe inscrite</i></td>
                        </tr>
                {% endif %}
                    </tbody>
                </table>
            {% endfor %}
        </div>

        <div class="tab-pane" id="tab_matchs">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}
                <div>&nbsp;</div>
                <button type="button" class="btn btn-primary" id="addModal-generateGM"><span class="glyphicon glyphicon-cog"></span> {{ 'lcs.competition.game.generateGM'|trans }}</button>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> {{ 'lcs.competition.game.generateFS'|trans }}</button>
            {% endif %}
            {% for key, poule in poules %}
                <h3>{{ poule.nom }}</h3>
                {% if matchs[key]|length > 0 %}
                    {% for match in matchs[key] %}
                <p>
                    Match {{ loop.index }} : {{ match }}<br />
                </p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="tab-pane" id="tab_stats">
            Diverses stats
        </div>
	</div>

    {{ render(controller('LCSBundle:Competition:edit', {'id' : competition.id})) }}
    {{ render(controller('LCSBundle:Poule:edit', {'idCompetition' : competition.id, 'id' : 0})) }}
    {{ render(controller('LCSBundle:Game:generateGroupMathes', {'id' : competition.id})) }}
    
    {% else %}
        <p><i>Aucune donnée...</i></p>
    {% endif %}

{% endblock %}
    
{% block pageScript %}
    {% if competition is not empty %}
    <script type="text/javascript">     
        var admin = "{{ is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') }}";
        var competition_id = '{{ competition.id }}';
        var liste = false;
    </script>
    {% javascripts 'js/datatables/listeCompetitions.js' output='js/compiled/listeCompetitions.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock %}