{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Détails d'une compétition{% endblock %}

{% block activeCompetitions %}
    class="active"
{% endblock %}

{% block content %}
    <div class="detailsEntity">
    {% if competition is not empty %}
		<div>
			<h3>Nom :</h3>
			<p>{{ competition.nom }}</p>
		</div>
        <div>
            <h3>Début : </h3>
            <p>{{ competition.dateDebut }}</p>
        </div>
        <div>
            <h3>Fin : </h3>
            <p>{{ competition.dateFin }}</p>
        </div>
        <div>
            <h3>Description : </h3>
            <p>{{ competition.description }}</p>
        </div>
	{% else %}
		<p><i>Aucune donnée...</i></p>
	{% endif %}
	</div>
{% endblock %}