{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Liste des compétitions{% endblock %}

{% block activeCompetitions %}
	class="active"
{% endblock %}

{% block content %}
	<table id="listeCompetitions_table" class="table table-striped table-bordered">
		<thead>
			<th>Nom</th>
			<th>Date</th>
			<th>Inscrits</th>
			<th>Limite des inscriptions</th>
		</thead>
	</table>
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') %}
    <button type="button" class="btn btn-success" id="addModal-competition"><span class="glyphicon glyphicon-plus"></span> {{ 'control.button.add'|trans }}</button>
    {% endif %}

	{{ render(controller('LCSBundle:Competition:edit', {'id' : 0})) }} 

{% endblock %}
    
{% block pageScript %}
	<script type="text/javascript">		
    	var admin = "{{ is_granted('ROLE_ADMIN') or is_granted('ROLE_ORGANISATEUR') }}";
    	var liste = true;
	</script>
    {% javascripts 'js/datatables/listeCompetitions.js' output='js/compiled/listeCompetitions.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}