<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			    </button>
			    <span id="titleContainer"><h3>Détails du joueur</h3></span>
			</div>
            <div class="modal-body" id="details_container">
                <div class="detailsEntity">
                {% if joueur is not empty %}
                	<div>
            			<h3>Pseudo :</h3>
            			<p>{{ joueur.pseudo }}</p>
        			</div>
            		<div>
            			<h3>Poste :</h3>
            			<p>{{ joueur.poste }}</p>
            		</div>
            		<div>
            			<h3>Prenom :</h3>
            			<p>{{ joueur.prenom }}</p>
            		</div>
            		<div>
            			<h3>Nom :</h3>
            			<p>{{ joueur.nom }}</p>
            		</div>
            		<div>
            			<h3>Description : </h3>
	            		<p>
	            			{{ joueur.description }}
	            		</p>
	            	</div>
				{% else %}
					<p><i>Aucune donnée...</i></p>
            	{% endif %}
				</div>
			</div>
        </div>
    </div>
</div>